**/**/node_modules/
**/**/.DS_Store
**/**/*.log

.config/gh
.config/gcloud
.config/nginx-proxy-manager
.config/nvim.bak
.config/sunshine
.config/QtProject
.config/github-copilot
.config/yarn
.config/terminfo

.tmux/resurrect
.tmux/plugins

.config/configstore/
.config/.isolated-storage/
.config/xbuild/
.config/fontforge/


.config/karabiner/automatic_backups/**

