**/**/node_modules/

.config/gh
.config/gcloud
.config/nginx-proxy-manager
.config/nvim.bak
.config/sunshine
.config/QtProject
.config/github-copilot
.config/yarn
.config/terminfo

.tmux/resurrect
.tmux/plugins
